<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="main2">
        <div id="content2">
            <h1>Login Admin</h1>
        <form action="/adminlogin" method="post">
            <input type="text" name="name" placeholder="Name">
            <input type="password" name="password" placeholder="password">
            <input id="greenbg" type="submit" value="Login Admin">
        </form>
        <p>Not An <span id="green"><strong>Admin?</strong></span> <a id="a" href="/login">Login here As <strong>User</strong></a></p><br>
        <p>Create New <span><strong id="a">User </strong></span>Account <a href="/">here</a></p>
        </div>
    </div>
</body>
</html>