<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="main4">
        <div id="hero3">
            <div id="content6">
                <h1>Some error occured</h1>
                <p>Error was due to <strong><%=err%></strong></p>
            </div>
        </div>
    </div>
</body>
</html>